<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main class="login-main">
      <div class="content-form-cadastro">
        <h1>Cadastro</h1>
        <form action="/register" method="post">
          <div class="input-name">
            <label for="user-name"></label>
            <input
              type="text"
              name="user_name"
              class="user-name"
              placeholder="Nome completo"
              id="user-name"
            />
            <% if(msg.msgNameError) { %>
            <div class="msgError"><%= msg.msgNameError %></div>
            <% } %>
          </div>
          <div class="input-email">
            <label for="user-email"></label>
            <input
              type="text"
              name="user_email"
              class="user-email"
              placeholder="Digite seu email"
              id="user-email"
            />
            <% if(msg.msgEmailError) { %>
            <div class="msgError"><%= msg.msgEmailError %></div>
            <% } %>
          </div>
          <div class="input-password">
            <label for="user-password"></label>
            <input
              type="text"
              name="user_password"
              class="user-password"
              placeholder="Digite uma Senha"
              id="user-password"
            />
            <% if(msg.msgPassError || msg.passwordError) { %>
            <div class="msgError">
              <%= msg.msgPassError || msg.passwordError %>
            </div>
            <% } %>
          </div>
          <div class="input-confirm-password">
            <label for="user-confirm-password"></label>
            <input
              type="text"
              name="userConfirmPassword"
              class="user-confirm-password"
              placeholder="Confirmar a Senha"
              id="user-confirm-password"
            />
            <% if(msg.msgPassError) { %>
            <div class="msgError"><%= msg.msgPassError %></div>
            <% } %>
          </div>
          <div class="content-btn">
            <button>Cadastro</button>
          </div>
          <% if(msg.msgFieldsEmpty) { %>
          <div class="msgError"><%= msg.msgFieldsEmpty %></div>
          <% } %><% if(msg.msgErrorDB) { %>
            <div class="msgError"><%= msg.msgErrorDB %></div>
            <% } %>
          <p class="message">Ja possui uma conta?<a href="/login"> Faça seu Login aqui</a>.</p>
        </form>
        </form>
      </div>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
