<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <main class="grid-admin">
      <div class="content-admin">
        <%- include('components/menuAdmin') %>
        <div class="admin-profile">
          <%- include('components/headerAdmin') %>
        </div>
        <div class="content-display">
          <div class="content-msg">
            <% if (msgSuccess) { %>
            <div class="msgSuccess"> <a href="/dashboard">X</a><%= msgSuccess %></div>
            <% } %>
          </div>
          <h1>Dashboard</h1>
          <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis vero dolorum facere aperiam ea alias ipsum odit, animi ullam rem similique id voluptates labore adipisci modi magnam voluptas temporibus fugiat.
            Possimus minima sit blanditiis eaque praesentium, rerum rem aut, unde porro consequatur numquam quidem sapiente necessitatibus ex modi ducimus eum! Possimus porro sapiente natus, rerum ex exercitationem eum nostrum quo.
            Libero nihil optio cumque debitis voluptates, ratione sed, voluptatum dolorum necessitatibus porro id laudantium aliquid quis iure ex et ad perspiciatis vitae magnam illum maxime excepturi sit tempore delectus. Sed.
            Vel est officia repellendus modi tenetur accusantium atque sint, eius ea, beatae repudiandae numquam, provident odio error ducimus? Hic optio eum aspernatur quos, ad iste enim quam id sapiente ipsam?
            Expedita alias quaerat tenetur maiores nam at, neque facere maxime blanditiis, a commodi culpa accusantium minus placeat? Laudantium odit, culpa perspiciatis atque unde molestiae magnam sunt, facilis, modi quis eius.
            Placeat unde praesentium officia tempora voluptas optio repellendus odio commodi eveniet magnam? Odit, quisquam vero quis, in earum sit corporis dicta illo praesentium fugiat debitis itaque! Quod perferendis tempore dolorem.
            Itaque, sapiente fugit! Hic veritatis mollitia, sed laboriosam ipsa beatae quam veniam. A reiciendis dolorum in maiores eveniet porro laboriosam, quasi vitae ipsa molestiae quae recusandae quibusdam. Quasi, sequi possimus.
            Atque dolorem, doloremque incidunt placeat maiores nam harum, totam quis et ea delectus debitis a nobis. Praesentium repellendus libero magnam perferendis qui culpa pariatur eveniet dicta consequatur obcaecati, inventore odit.
            Architecto numquam cupiditate ratione magnam veritatis sapiente porro laborum, fuga aperiam repellat, eaque doloremque tempore deleniti ex cum inventore. Dolorum laborum molestias voluptas dolore cupiditate numquam unde natus expedita et!
            Provident praesentium eos consequatur? Minus nisi nihil libero amet excepturi dignissimos similique repellat odit, doloribus architecto quia itaque, consequuntur dolore non quasi, voluptas alias enim labore natus voluptatum corrupti reiciendis?
            Dolor veniam quibusdam deleniti accusamus corrupti placeat, consequuntur tempore labore aliquam natus non omnis dolore expedita dignissimos debitis nihil fugit veritatis cum at quam quos facere molestias. Voluptatem, doloremque nemo?
            Eveniet dolore veniam facilis est nemo sint mollitia a cumque architecto at temporibus perferendis soluta aliquam dignissimos incidunt, dolorem blanditiis officia ratione consectetur reiciendis voluptatum rem ducimus ut modi. Rem.
            Culpa veniam accusamus quae repellat excepturi error, perferendis, voluptatem dolorum commodi corrupti repellendus voluptatum placeat reprehenderit consequatur quod iusto mollitia dolore exercitationem incidunt dolores aut animi deleniti voluptas. Cupiditate, reiciendis.
            Ducimus nisi, eum voluptate doloribus quaerat aut id dolorem unde sit asperiores, iusto provident sint facere, reprehenderit esse? Dolor, ipsa hic numquam quae ipsam tempora iste soluta dolore impedit consequuntur.
            Recusandae ea beatae nobis quasi laboriosam saepe, quaerat sunt dolorem, velit voluptates quibusdam reiciendis consectetur totam asperiores ipsam veritatis optio. At, delectus cupiditate voluptate placeat dignissimos necessitatibus quis commodi autem.
            Fugit quos in dolore explicabo, consequatur repudiandae fugiat, distinctio cum reprehenderit ex delectus autem at. Inventore et ab, quis officiis autem nulla, ratione labore molestiae ipsa, recusandae blanditiis velit? Deleniti!
            Omnis, itaque. Autem modi itaque labore quasi fuga culpa ab consectetur eius nobis nemo veniam placeat aspernatur, quibusdam eos error, sint impedit iusto, velit nesciunt repellendus amet distinctio sapiente! Itaque!
            Quis dolorum maiores, eum molestias quaerat tempore omnis aliquam ducimus est culpa, reiciendis ullam dolor veritatis, saepe quod sit. Pariatur omnis tenetur odio asperiores necessitatibus veniam doloremque cumque dolores unde.
            Cumque ullam tenetur ducimus modi! Laborum autem iure quisquam officia quis! Similique, perferendis. Cum id nostrum laboriosam saepe ratione ipsa ad nesciunt expedita animi sapiente assumenda beatae, numquam, quasi quis.
            Officiis tenetur deleniti aliquid dolorum recusandae labore tempore quibusdam dolore vero sed, doloremque neque sit iste tempora possimus illo veniam totam. Natus officiis eaque ducimus commodi consectetur recusandae possimus cum?
            Harum quibusdam veritatis, est asperiores numquam dolorem esse molestias similique dolor nesciunt mollitia id repellat vero aut neque accusantium obcaecati magnam alias dolores possimus sit aperiam corporis! Ab, aperiam aliquid.
            Quae consequatur reiciendis repellat sequi possimus mollitia culpa officiis quisquam! Architecto, maxime harum vitae facere consectetur ex quibusdam voluptas, nulla accusamus deserunt eos recusandae, nesciunt asperiores pariatur incidunt illum dolores?
            Voluptate voluptates impedit ducimus provident quam. Culpa, quaerat exercitationem eius porro ad corrupti id commodi. Quaerat et earum commodi quam dicta repudiandae, dolor perferendis pariatur eligendi hic facilis quae repellendus?
            Quibusdam earum adipisci porro alias voluptas! Quia ut eius officiis ipsam vitae facilis in autem sequi nulla reprehenderit sed necessitatibus sapiente dolore illo, optio illum accusantium quae quo perspiciatis voluptate!
            Veritatis hic maiores tempora aspernatur, voluptate tempore pariatur corrupti minima, beatae necessitatibus, quia consequuntur. Explicabo fuga, nisi harum dolor non assumenda labore quasi! Quos eveniet, dolorum inventore excepturi exercitationem ab!
            Temporibus, maiores dolor molestias quis ipsam aut doloremque et voluptatem quidem quod culpa enim necessitatibus nemo architecto? Perspiciatis officia magnam id quam earum facere culpa minus esse possimus, tenetur unde.
            Accusantium, amet officia provident dolorum, quia impedit ipsum illo a dolore soluta cumque nulla expedita ea, omnis nobis. Ad dolorem sunt nihil. Numquam optio quod nihil. Temporibus vero dolore quos.
            Expedita, nulla minima! Vel, nihil error accusamus, et cum velit veritatis exercitationem aliquam sint cumque dolor doloribus aliquid itaque, ipsam natus molestias vero. Possimus recusandae fugit id velit, maiores aspernatur.
            Libero in id ipsum architecto sapiente tempore quo dolor illum esse debitis, eaque soluta ducimus? Quisquam dignissimos, expedita fuga sint, accusamus sed soluta ad rerum vitae quidem odio. At, dolor.
            Iure quis ab, ex laborum ipsum iusto, nesciunt repellat sit perferendis possimus maiores nostrum asperiores sed laboriosam illum ea, sequi expedita incidunt exercitationem? Illum aliquam ut dolorem, perferendis molestiae autem.</p>
          </div>
        </div>
      </div>
    </main>
    <%- include('components/script') %>
  </body>
</html>
